<h3>Sign In</h3>
<form method="post" action="/signin">
  <input name="username" type="text" placeholder="Username" required oninvalid="this.setCustomValidity('Please enter a valid username')">
  <input name="password" type="password" placeholder="Password" required oninvalid="this.setCustomValidity('Please enter a valid password')">
  <button id="sign-in-btn" type="submit">Sign up</button>
</form>
